body
{
    margin: 0;
    padding: 0;
}

#admin_login_background {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    background: url("/templates/admin/images/bg_auth.jpg") no-repeat;
    background-size: cover;
    z-index: -1;
}

.admin_login
{
    background-color: blue;
}

.admin_login_field
{
    background-color: #390b18;

    max-width: 500px;
    width: 100%;

    max-height: 400px;
    height: 100%;

    margin: auto;
}

.admin_login_field_logo
{
    text-align: center;
}

.admin_login_field_form
{
    background-color: #1DAAFC;
    text-align: center;

    margin: 20px 0;
}

.admin_login_field_form_input{
    margin: 10px 0;
}
