<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Admin Panel</title>
    <link rel="stylesheet" href="../templates/admin/index.css">
</head>
<body>
<div class="admin_login">
    <div class="admin_login_background"></div>
    <div class="admin_login_field">
        <div class="admin_login_field_logo"><h1>Admin Panel</h1></div>
        <form class="admin_login_field_form" action="admin.php?act=login" method="post">
            <div class="admin_login_field_form_input"><div>Telegram login: </div><input type="text" placeholder="" name="phone"></div>
            <div class="admin_login_field_form_input"><div>Password: </div><input type="password" name="password"></div>
            <div class="admin_login_field_form_input"><input type="submit" value="Войти"></div>
        </form>
    </div>
</div>
</body>
</html>