<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Панель управления</title>
  <link rel="stylesheet" href="../templates/admin/index.css">
</head>
<body>
<div class="admin_login">
  <div class="admin_login_background"></div>
  <div class="admin_login_field">
    <div class="admin_login_field_logo"><h1>Панель управления</h1></div>
    <form class="admin_login_field_form" action="partner.php?act=login" method="post">
      <div class="admin_login_field_form_input"><div>Номер телефона: </div><input type="text" placeholder="" name="phone"></div>
      <div class="admin_login_field_form_input"><div>Пароль: </div><input type="password" name="password"></div>
      <div class="admin_login_field_form_input"><input type="submit" value="Войти"></div>
    </form>
  </div>
</div>
</body>
</html>