<tr style="text-align: center" class="items_row">
  <td style="text-align: left"  class="items_cell">
    <a target="_blank" href="<courses_url />/welcome<course_id />?utm=<utm />" ><name /></a></td>
  <td class="items_cell"><transitions /></td>
  <td class="items_cell"><registrations /> (<registrations_percent />%)</td>
  <td class="items_cell"><purchases /> (<purchases_percent />%)</td>
  <td class="items_cell"><sum /></td>
  <td class="items_cell"><i style="cursor: pointer" class="fa fa-trash-o" aria-hidden="true" onclick="delete_utm(<id />)"></i></td>
</tr>